<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.post.mapper.PostMapper">

    <!-- 插入帖子并返回主键 -->
    <insert id="insert" parameterType="com.wen.common.domain.post.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (user_id, content, views, comments, saves, shares, likes, create_at, location, type, del_flag)
        VALUES (#{userId}, #{content}, #{views}, #{comments}, #{saves}, #{shares}, #{likes}, #{createAt}, #{location}, #{type}, #{delFlag})
    </insert>
    <!-- 管理员审核帖子 -->
    <update id="review">

    </update>

    <!-- 用户修改帖子 -->
    <update id="update">

    </update>

    <select id="selectById" resultType="com.wen.common.domain.post.Post">
        SELECT * FROM posts WHERE id = #{id}
    </select>

</mapper>