<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.post.mapper.PostTopicMapper">

    <insert id="insert">
        INSERT INTO post_topics (post_id, topic_id)
        VALUES
        <foreach collection="list" item="postTopic" separator=",">
            (#{postTopic.postId}, #{postTopic.topicId})
        </foreach>
    </insert>

    <select id="selectTopicIdsByPostId" resultType="java.lang.Long">
        SELECT * FROM post_topics WHERE post_id = #{postId}
    </select>


</mapper>