<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.post.mapper.TopicMapper">

    <select id="selectTopicNames" resultType="java.lang.String">
        SELECT name
        FROM topics
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectTopicIdsByTopicNames" resultType="java.lang.Long">
        SELECT id FROM topics WHERE name IN
        <foreach item="name" collection="list" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>


</mapper>